/*--------------------------------------------------------------
	04. Footer Style
--------------------------------------------------------------*/

.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &__top {
        padding: 45px 50px 70px;
        @include responsive(lg) {
            padding: 45px 30px 70px;
        }
        @include responsive(allPhone) {
            padding: 45px 20px 70px;
        }
        @include responsive(vxxs) {
            padding: 45px 10px 70px;
        }
    }
    &__wrapper {
        border-radius: 20px 20px 0 0;
    }
}



.footer_widget {
    &__logo {
        @include responsive(xs) {
            max-width: 200px;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 28px;
        margin: -4px 0 0;
        @include responsive(sm) {
            font-size: 22px;
        }
    }
    &__para {
        color: var(--paragraph-color);
        line-height: 28px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    &__socialList {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        @include responsive(xl) {
            gap: 12px 15px;
        }
        @include responsive(lg) {
            gap: 10px;
        }
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            font-size: 16px;
            border-radius: 5px;
            background: var(--white);
            color: var(--heading-color);
            // @include transition(300ms);
            transition: all .3s;
            @include responsive(xs) {
                font-size: 16px;
                height: 35px;
                width: 35px;
            }
            @include responsive(vxxs) {
                height: 30px;
                width: 30px;
            }
            &:hover {
                color: var(--white);
                background: var(--main-color-one);
            }
        }
    }
    &__form {
        &-single {
            position: relative;
            z-index: 2;
        }
        &-control {
            height: 55px;
            width: 100%;
            background-color: rgba($black, .05);
            border: 1px solid rgba($black, .05);
            border-radius: 10px;
            padding: 0 20px;
            color: var(--paragraph-color);
            // @include box-shadow(0, 0, 10px, rgba($white, .001));
            box-shadow: 0 0 10px rgba($black, .001);
            // @include transition(.3s);
            transition: all .3s;
            padding-right: 110px;
            &:focus {
                border: 1px solid rgba(var(--main-color-one-rgb), .4);
            }
            @include responsive(lg) {
                padding-right: 20px;
            }
        }
        button {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0;
            background-color: var(--main-color-one);
            color: var(--white);
            padding: 0px 15px;
            border: 0;
            outline: none;
            border-radius: 0 10px 10px 0;
            height: 100%;
            // @include transition(.3s);
            transition: all .3s;
            display: flex;
            align-items: center;
            gap: 5px;
            &:hover {
                background-color: var(--secondary-color);
                color: var(--white);
            }
            @include responsive(lg) {
                position: relative;
                width: 100%;
                margin-top: 20px;
                border-radius: 10px;
                padding: 15px 15px;
                text-align: center;
                font-size: 16px;
                justify-content: center;
            }
        }
    }
    &__linkList {
        padding: 0;
        margin: 0;
        list-style: none;
        &__item {
            position: relative;
            z-index: 2;
            transition: all .3s;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:hover {
                a {
                    color: var(--main-color-one);
                }
            }
            a {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: var(--paragraph-color);
                position: relative;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                position: relative;
                z-index: 1;
                padding-left: 20px;
                display: flex;
                &:hover {
                    color: var(--main-color-one);
                }
                &::before {
                    // font-family: 'Line Awesome Free';
                    // font-weight: 900;
                    // content: "\f105";
                    @include fontawesomeIcon("\f105");
                    position: absolute;
                    left: 0;
                    top: -1px;
                }
            }
        }
    }
    &__contact {
        padding: 0;
        &__item {
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: flex-start;
            gap: 15px;
            color: var(--light-color);
            // @include transition(300ms);
            transition: all .3s;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:hover {
                color: var(--main-color-one);
                .footer_widget {
                    &-contact {
                        &-item {
                            &-icon {
                                background-color: var(--main-color-one);
                                color: var(--white);
                            }
                        }
                    }
                }
            }
            &__flex {
                display: flex;
                align-items: flex-start;
                gap: 20px;
                @include responsive(lg) {
                    gap: 12px;
                }
            }
            &__icon {
                background-color: rgba($black, .05);
                color: var(--paragraph-color);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                font-size: 16px;
                border-radius: 50%;
                // @include transition(.3s);
                transition: all .3s;
            }
            &__details {
                flex: 1;
            }
        }
    }
}

.copyright_area {
    padding: 30px 0;
    text-align: center;
    &.copyright_border {
        border-top: 1px solid rgba($steam-color, .2);
    }
}

.copyright_contents {
    &__main {
        font-size: 16px;
        color: var(--paragraph-color);
        text-align: center;
        @include responsive(sm) {
            text-align: center;
            margin-top: 10px;
        }
        a {
            color: var(--main-color-one);
            font-weight: 500;
        }
    }
}

