// Support Portal css

.hivesupportPortal {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    &__header {
        &__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}